.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  border-radius: 12px;
}

.card {
  height: 248px;
  width: 320px;
  border-radius: 12px  !important; 
  gap: 0px;
}
